* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: transparent;
}
.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 20px solid #ffffff;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(220, 220, 220, 0.3);
}
.wrapper {
  width: 400%; /* 圖片數量乘以100% */
  display: flex;
  animation: slide 15s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  /* 每張圖片佔25% */
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}
img {
  width: 100%;
}
