*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: transparent;
}
.container{
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 8px;
    box-shadow: 
    10px 25px 30px rgba(220,220,220,0.3), /* 陰影1：下方和右方 */
    -5px -5px 30px rgba(220,220,220,0.3));     /* 陰影2：上方和左方 */
    
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 15s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  18.333% {
    transform: translateX(-100%);
  }
  48.333% {
    transform: translateX(-100%);
  }
   51.666% {
    transform: translateX(-200%);
  }
  81.666% {
    transform: translateX(-200%);
  }
   84.999% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
img{
    width: 100%;
}
